@model Mutuales2020.Web.Data.Entities.Affiliate

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Affiliate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="intCodigoAfi" class="control-label"></label>
                <input asp-for="intCodigoAfi" class="form-control" />
                <span asp-validation-for="intCodigoAfi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strNombreAfi" class="control-label"></label>
                <input asp-for="strNombreAfi" class="form-control" />
                <span asp-validation-for="strNombreAfi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strApellido1Afi" class="control-label"></label>
                <input asp-for="strApellido1Afi" class="form-control" />
                <span asp-validation-for="strApellido1Afi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strApellido2Afi" class="control-label"></label>
                <input asp-for="strApellido2Afi" class="form-control" />
                <span asp-validation-for="strApellido2Afi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intAnoAfi" class="control-label"></label>
                <input asp-for="intAnoAfi" class="form-control" />
                <span asp-validation-for="intAnoAfi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="intMesAfi" class="control-label"></label>
                <input asp-for="intMesAfi" class="form-control" />
                <span asp-validation-for="intMesAfi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="strCodigoMut" class="control-label"></label>
                <input asp-for="strCodigoMut" class="form-control" />
                <span asp-validation-for="strCodigoMut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
