<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="libMutuales2020.Properties.Settings.dbExequial2010ConnectionString5" connectionString="Data Source=.\SQL2014;Initial Catalog=dbFacturacion;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="libMutuales2020.Properties.Settings.dbExequial2010ConnectionString" connectionString="Data Source=.\SQL2014;Initial Catalog=dbFacturacion;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="ConexionSE" connectionString="Data Source=.\SQL2014;Initial Catalog=dbSeguridad;Persist Security Info=True;User ID=sa;Password=12345" providerName="System.Data.SqlClient"/>
    <add name="libMutuales2020.Properties.Settings.dbExequial2010ConnectionString1" connectionString="Data Source.\SQL2014;Initial Catalog=dbExequial2010;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Conexion" value="Password=12345;Persist Security Info=True;User ID=sa;Initial Catalog=dbFacturacion;Data Source=.\SQL2014"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
