<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionDb" connectionString="Server=SQL5041.site4now.net;Initial Catalog=DB_A40B4C_dbMutualAMFSA;User ID=DB_A40B4C_dbMutualAMFSA_admin;Password=Sql__12345..;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>