<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net45" />
  <package id="Microsoft.ReportViewer" version="11.0.3366.16" targetFramework="net45" />
  <package id="Microsoft.ReportViewer.Windows" version="11.0.3452" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net45" />
</packages>